@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    /* font-family: monospace; */
    font-size: 1.3rem;
    color: #252525;
    /* padding: 10px 20px; */
    border-radius: 10px;
    border: 2px solid #252525;
    background: #fafafa;
    box-shadow: 3px 3px #252525;
    cursor: pointer;
    /* margin: 35px 0; */
  }
  
  .btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

